# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 816c25b98f11599a16a4fca0db929e1ae469cfde28c78ef0a45fe764423f5023dbf5dce2b60638151d41ee8a57942745502f0c91b23cabc31d335dacc01b1dcb

  github_key:
  github_secret:

test:
  secret_key_base: 30cf3f2aa856dc52c93dc7f146d5147237dc7d9730addd2440e5ec641be28350b89607d49d01ece2d6c210c75fd1bb313c43fa76a3e6e19bf35b38f05f52b9b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

  github_key: <%= ENV["GITHUB_KEY"] %>
  github_secret: <%= ENV["GITHUB_SECRET"] %>
