/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require angular-ui-select/dist/select.min
 *= require select2/select2
 *= require nvd3/nv.d3.min
 *= require_self
 */

@import "bootstrap-variables";
@import "bootstrap-custom";

@import "media.scss";
@import "nav.scss";
@import "navbar.scss";
@import "list.scss";
@import "scaffolding.scss";
@import "label.scss";
@import "stats.scss";

@import "vendor/select2.bootstrap3.scss";


/* Overall stuff */
#sidebar-left, #content {
  padding-top: 20px;
}

#content {
  background: #fff;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

#sidebar-left {
  ul.project-stats {
    margin-right: 10px;

    li {
      padding-bottom: 7px;
    }
  }
}

#sidebar-right {
  text-align: right;
  padding-top: 20px;

  .nav-general {
    text-align: left;
    margin-left: 10px;
  }

  .nav-pills {
    text-align: left;
    margin-left: -15px;
  }

  .nav-pills > li > a:hover,
  .nav-pills > li > a:focus {
    background-color: #ddd;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background-color: #fff;
    color: $gray;
  }

  .nav-pills > li > a {
    border-radius: 0 4px 4px 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.page-title {
  margin-top: 0;
}

.page-title-section {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  font-weight: 200;
  margin-bottom: 15px;
}

.no-margin {
  margin: 0;
}