.stats {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-width: 1px 0;

  li {
    text-align: center;
    display: table-cell;
    width: 1%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  li.with-separator {
    border-right: 1px solid #eee;
  }
}

.stats-element {
  &.active {
    border-bottom: 3px solid $gray-lighter;
  }

  &.text-danger .stats-label {
    color: $brand-danger;
  }

  &.text-warning .stats-label {
    color: $brand-warning;
  }
}

.stats-number {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -2px;

  .glyphicon {
    font-size: 70%;
  }
}

.stats-label {
  text-transform: uppercase;
  font-size: 10px;
  color: $gray-light;
}